# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
/run-data/logs/debug-5.log.gz
/run-data/logs/debug-4.log.gz
/run-data/logs/2025-03-09-5.log.gz
/run-data/logs/2025-03-09-4.log.gz
